.container {
    width: 635px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid silver;
    padding: 5px;
}

.elevatorContainer {
    height: auto;
    width: 300px;
    display: flex;
}

    .containerSlot {
        height: 100%;
        width: calc(300px / 3);
        border: 1px solid;
    }

    .elevatorContainer section {
        height: 18px;
        width: 90px;
        text-align: center;
        background-color: #5f9ea057;
        visibility: visible;
    }

.containerSlot div {
    display: flex;
    height: 20px;
    visibility: hidden;
    padding: 5px;
}

.floors {
    width: 320px;
}

.floors div {
    border: 1px solid silver;
    padding: 5px;
}